body {
    min-height: 100px;
    width: 250px;
    font-family: "segoe UI";
    color : #256EB8;
}

.credits{
	font-size: 10px;
	display: none;
}

.loader{
	height : 20px;
}

.loader img{
	width: 100%;
	height: 50%;
}

.TorrentContainer .movie {
    box-shadow : 0 0 2px 2px #999999;
    border-bottom : 1px solid #828282;
}
.DescWrapper {
    border-bottom : 1px #E6E6E6 solid;
}
.MovieBanner {
    margin: 0.15em 0.1em;
}
.TorrentMetaData {
    display : none;
}
.Torrent {
    padding-bottom: 2px;
}
.Quality {
    margin : 2px;
    background-color : #666699;
    padding : 2px;
    box-shadow : 0 0 1px gray;
    border-radius: 3px;
    color : white;
    cursor: pointer;
}
.Title {
    font-size: 20px;
    line-height: 25px;
    color : #256EB8
}
.RatingStar {
    background: url("http://s29.postimg.org/j2bq4kp4z/1407619972_Natsu_Fav_sema_Small.png") no-repeat;
    padding-left : 20px;
}
.FloatLeft {
    float: left;
}
.Torrent span {
}
.TorrentList {
    margin: 0.35em 0.1em;
}

/*tour context*/

.tour div{
	display: none;	
}	